* {
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content: center;
    font-family:'Times New Roman', Times, serif;

    
}
ul{
    display: flex;
    margin-top: 8rem;
    border:4px solid black;
    width:25rem;
    width:auto;
    flex-direction: column;
    align-items: center;
    align-self: cente;
    grid-template-columns: 1fr;
    border-radius: 2rem;
    padding-bottom: 4rem;
}
li{
    list-style: none;
    margin:4px;
}
#result{
    margin-top: 0;
    width:20rem;
    height: 3rem;
    border-radius: 1rem;
    font-size: 1.5rem;
}
#question{
    width:10rem;
    height: 2rem;
    font-size: larger;
    border-top:none;
    box-shadow: inset;
}
#inputArea{
    height: 1.5rem;
    width: 10rem;
}
.horizontalBtn{
    margin:5px;
}
#generate{
    height: 3rem;
    width:7rem;
}
#submit{
    height: 3rem;
    width:7rem;
}
.numPadFirstThree{
    
}
#one,#two,#three,#four,#five,#six,#seven,#eight,#nine{
    width:3rem;
    height:3rem;
}
#zero{
    width:12rem;
    height:3rem;
}